.places {
  margin: 102px auto 0;
  width: 100%;
  max-width: 984px;
  display: grid;
  grid-template-rows: 1fr;
  gap: 80px;
}

@media screen and (max-width: 1140px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .places {
    max-width: 720px;
    gap: 64px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 740px) {
  .places {
    max-width: 720px;
    gap: 48px;
    margin-top: 64px;
  }
}
