.photo-grid__cells {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 740px) {
  .photo-grid__cells {
  row-gap: 12px;
  }
}
