@import url(__title/lead__title.css);
@import url(__subtitle/lead__subtitle.css);
@import url(__image/lead__image.css);
@import url(__caption/lead__caption.css);

.lead {
  margin: 56px auto 0;
  width: 100%;
  max-width: 984px;
}

@media screen and (max-width: 1140px) {
  .lead {
    max-width: 928px;
    margin: 48px auto 0;
  }
}

@media screen and (max-width: 984px) {
  .lead {
    max-width: 768px;
  }
}

@media screen and (max-width: 568px) {
  .lead {
    max-width: 320px;
  }
}
