.cover__subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  max-width: 360px;
  margin: 0 auto;
  color: #fff;
  position: relative;
  text-align: center;
  padding: 0;
  z-index: 2;
}

@media screen and (max-width: 740px) {
  .cover__subtitle {
    max-width: 90%;
    font-size: 14px;
    line-height: 1.14;
  }
}
