.footer__link {
  margin: 0;
  color: white;
  list-style: none;
  text-decoration: none;

  font-size: 16px;
  line-height: 1.12;
}

.footer__link:hover {
  opacity: 0.8;
  cursor: pointer;
}


@media screen and (max-width: 984px) {
  .footer__link {
    font-size: 16px;
    line-height: 1.04;
  }
}

@media screen and (max-width: 740px) {
  .footer__link {
    margin: 0;
    font-size: 24px;
    line-height: 1;
  }
}
