.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@media screen and (max-width: 740px) {
  .footer__links {
    justify-content: start;
    flex-direction: column;
    margin: 0;
  }
}
