@import url(__container/intro__container.css);
@import url(__title/intro__title.css);
@import url(__text/intro__text.css);
@import url(__list/intro__list.css);
@import url(__list-span-accent/intro__list-span-accent.css);

.intro {
  max-width: 984px;
  width: 100%;
  margin: 92px auto 0;
  color: #fff;
}

@media screen and (max-width: 1140px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .intro {
    margin-top: 88px;
    max-width: 720px;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 568px) {
  .intro {
    margin-top: 64px;
    max-width: 288px;
    width: calc(100% - 32px);
  }
}
