.lead__subtitle {
  color: #fff;
  max-width: 640px;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.2;
  margin: 26px auto 64px;
}

@media screen and (max-width: 1140px) {
  .lead__subtitle {
    margin-bottom: 58px;
  }
}

@media screen and (max-width: 568px) {
  .lead__subtitle {
  font-size: 16px;
  line-height: 1.25;
  margin-top: 12px;
  margin-bottom: 36px;
  }
}
