@import url(__title/cover__title.css);
@import url(__subtitle/cover__subtitle.css);
@import url(__background/cover__background.css);
@import url(__overlay/cover__overlay.css);
@import url(__content/cover__content.css);

.cover {
  margin: 92px auto 0;
  max-width: 1184px;
  width: calc(100% - 96px);
  box-sizing: border-box;
}

@media screen and (max-width: 1140px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 984px) {
  .cover {
    margin-top: 88px;
  }
}

@media screen and (max-width: 740px) {
  .cover {
    margin-top: 64px;
  }
}
