.place__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: underline;
  color: #fff;
}

.place__link:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 740px) {
  .place__link {
    opacity: 0;
    height: 0;
    font-size: 0;
  }
}
