.cover__overlay {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  min-height: 740px;
}

.cover__overlay:before{
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity ease-in 0.4s;
}

.cover__overlay:hover::before{
  opacity: 0.8;
}


@media screen and (max-width: 1140px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 984px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 586px) {
  .cover__overlay {
    min-height: 200px;
  }
}
