.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 0 auto 32px;
  max-width: 560px;
  padding: 0;
  color: #fff;
  position: relative;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 740px) {
  .cover__title {
    margin: 0 auto 16px;
    max-width: 228px;
    font-size: 32px;
    line-height: 1.09;
  }
}
