.place__url-heading {
  color: #aaa;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  padding-bottom: 12px;
}

@media screen and (max-width: 740px) {
  .place__url-heading {
    opacity: 0;
    height: 0;
    font-size: 0;
  }
}
