.place__website {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 740px) {
  .place__website {
    position: absolute;
    height: 0;
    margin: 0;
    padding: 0;
  }
}
